[credential]
	helper = osxkeychain
[push]
	autoSetupRemote = true

[includeIf "gitdir:~/dev/repos/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/dev/personal/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/dev/work/"]
	path = ~/.gitconfig-work
